/*Header*/
::selection{color:#fff;background-color:#8167a9;}
::-moz-selection{color:#fff;background-color:#8167a9;}
.container-wrapper{max-width: 1440px;}
.login-btn , .signup-btn{display: none;}
.start-header{opacity:1;transform:translateY(0);padding:20px 0;-webkit-transition:all 0.3s ease-out;transition:all 0.3s ease-out;}
.start-header.scroll-on{box-shadow:0 5px 10px 0 rgba(138, 155, 165, 0.15);padding:10px 0;-webkit-transition:all 0.3s ease-out;transition:all 0.3s ease-out;}
.start-header.scroll-on .navbar-brand img{height:24px;-webkit-transition:all 0.3s ease-out;transition:all 0.3s ease-out;}
.navigation-wrap{width:100%;top:0;left:0;z-index:1000;-webkit-transition:all 0.3s ease-out;transition:all 0.3s ease-out;background: #fff;}
.navbar{padding:0;}
.navbar-brand img{width:auto;display:block;-webkit-transition:all 0.3s ease-out;transition:all 0.3s ease-out;}
.navbar-toggler{float:right;border:none;padding-right:0;}
.navbar-toggler:active,.navbar-toggler:focus{outline:none;}
.navbar-light .navbar-toggler-icon{width:24px;height:17px;background-image:none;position:relative;border-bottom:1px solid #000;transition:all 300ms linear;}
.navbar-light .navbar-toggler-icon:after, .navbar-light .navbar-toggler-icon:before{width:24px;position:absolute;height:1px;background-color:#000;top:0;left:0;content:'';z-index:2;transition:all 300ms linear;}
.navbar-light .navbar-toggler-icon:after{top:8px;}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after{transform:rotate(45deg);}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before{transform:translateY(8px) rotate(-45deg);}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon{border-color:transparent;}
.nav-link{color:#212121 !important;font-weight:500;transition:all 200ms linear;}
.nav-item:hover .nav-link{color:#8167a9 !important;}
.nav-item.active .nav-link{color:#5C2E5D !important;font-weight:bold;font-size:20px;}
.nav-link{position:relative;padding:5px 0 !important;display:inline-block;font-family:Gilroy;font-style:normal;font-weight:300;font-size:20px;line-height:24px;color:#333333;}
.nav-item:after{position:absolute;bottom:-5px;left:0px;width:100%;height:2px;content:'';background-color:#8167a9;opacity:0;transition:all 200ms linear;}
.login-btn.nav-item:before{position: absolute;bottom:0px;left:-20px;width:1px;height:100%;content:'';background-color:#7D7D7D;transition:all 200ms linear;}
.nav-item:hover:after{bottom:0;opacity:1;}
.nav-item.active:hover:after{opacity:0;}
.nav-item{position:relative;transition:all 200ms linear;}

/*Footer*/
footer{background: #5C2E5D; padding: 30px 0; float: left; width: 100%;}
footer ul{list-style: none; padding-left: 0;margin: 0;}
footer ul li a, footer ul li{font-family: Gilroy;font-style: normal;font-weight: 300;font-size: 20px;line-height: 24px;color: #FFFFFF; margin-bottom: 10px;}
footer ul li a:hover{color: #fff;}

/**/
.ptb-8{padding: 80px 0;}
.ptb-5{padding: 50px 0;}
.ptb-3{padding: 30px 0;}
.pb-8{padding-bottom: 80px;}
.pt-5{padding-top: 50px;}
.list-style-none{list-style: none;}
.bg-purple{background: rgba(92, 46, 93, 0.2);}
.b-50{border-radius: 50px;}
.mw-100{max-width: 100%;}

/*Connect Us*/
.connect-wrapper .container-wrapper{background: url("../images/connect/connect-banner.png");}
.bg-aside .container-wrapper{ height: 620px; position: relative; padding: 0;margin-bottom: 4%;background-position: center;background-size: cover;}
.overlay-wrapper{background: linear-gradient(90deg, #774D78 0%, rgba(92, 46, 93, 0) 100%);position: absolute;height: 100%;width: 100%;}
.bg-aside:after{position: absolute;width: 360px;height: 353px;left: -8px;top: 600px;z-index: -1;background: rgba(92, 46, 93, 0.2);content: '';}
.banner-text{position: absolute;bottom: 70px;background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0.666724) 70.81%, rgba(255, 255, 255, 0) 100%);width: 55%;}
.banner-text h1{font-family: 'Gilroy Bold';font-style: normal;font-weight: 800;font-size: 40px;text-align: justify;text-transform: uppercase;color: #5C2E5D;padding:10px 60px;margin:0;}
.bottom-overlay{position: absolute;width: 100%;height: 16px;left: 0;bottom: 0;background: rgba(255, 255, 255, 0.67);}

.bg-grey{background:#f4f4f4;}
.contact-sec{padding:80px 0 ;}
.contact-sec .cont-row{background:#fff;position:relative;padding:50px 0;width:90%;margin-left:auto;}
.contact-form{margin-top:15px;width:60%;margin-left:auto;margin-right:80px;}
.contact-form .textarea{border-radius:13px;}
.form-control{border:2px solid #5C2E5D;box-sizing:border-box;border-radius:50px;padding:10px 20px;font-family:Gilroy;font-style:normal;font-weight:300;font-size:18px;line-height:25px;color:#8B8B8B;}
.form-control:focus{box-shadow:none;border-color:#5C2E5D;}
.form-control-feedback{line-height:50px;}
.main-btn{background:#5C2E5D;border-color:#5C2E5D;color:#fff;width:229px;height:66px;box-shadow:4px 4px 8px rgba(0, 0, 0, 0.25);border-radius:50px;font-family:Gilroy;font-style:normal;font-size:22px;line-height:27px;text-align:center;color:#FFFFFF;}
.main-btn:hover{background:#fff;color:#5C2E5D;}
.submit-btn{margin-top:30px;}
.form-control-feedback{line-height:50px;top:0px;}
.contact-form .row{margin-bottom:10px;}
.contact-social-media{position:absolute;background:#5C2E5D;box-shadow:6px 6px 20px rgba(0, 0, 0, 0.3);width:521px;height:430px;left:110px;top:970px;padding:50px;}
.contact-social-media p{font-family:Gilroy;font-style:normal;font-weight:800;font-size:32px;line-height:44px;text-align:justify;color:#FFFFFF;position:relative;}
.contact-social-media p:after{position:absolute;bottom:-20px;left:-50px;width:80%;height:3px;content:'';background-color:#fff;opacity:1;transition:all 200ms linear;}
.contact-social-media ul{padding-left:0;list-style:none;padding-top:60px;}
.contact-social-media ul li{padding-bottom:20px;}
.contact-social-media ul li a{color:#fff;font-style:normal;font-weight:300;font-size:22px;line-height:25px;text-align:center;}
.contact-social-media ul li a:hover{text-shadow:2px 2px 4px #000000;text-decoration:none;}
.contact-social-media ul li a img{margin-right:15px;}
.contact-social-media .social-media-wrapper ul{padding-top:30px;}
.contact-social-media .social-media-wrapper ul li{width:15%;float:left;}
.contact-social-media .social-media-wrapper ul li a:hover{opacity:0.8;}

/*404 Page*/
.ptb-error{padding:216px 0;float:left;width:100%;}
.error-img-wrapper{width:50%;float:right;text-align:center;}
.error-img-wrapper img{border-radius:50%;max-width:100%;}
.error-msg-wrapper{width:50%;float:left;}
.error-msg-wrapper h1{font-style:normal;font-weight:normal;font-size:120px;text-transform:capitalize;color:#2B2F52;margin-bottom:50px;}
.error-msg-wrapper .text-missing{font-family:Lora;font-style:normal;font-weight:normal;font-size:30px;line-height:26px;color:#313131;}
.error-text p{font-style:normal;font-weight:normal;font-size:22px;line-height:38px;color:#313131;margin-bottom:0px;margin-top:0;}
.go-back-btn{margin-top:40px;}
.go-back-btn a{padding:10px 60px;background:#FFFFFF;border:3px solid #5C2E5D;box-sizing:border-box;box-shadow:0px 4px 44px -8px rgba(0, 0, 0, 0.2);border-radius:56px;font-style:normal;font-weight:normal;font-size:24px;line-height:56px;color:#5C2E5D;}
.go-back-btn a:hover{color:#fff;background:#5C2E5D;border:3px solid #5C2E5D;text-decoration:none;}


/*Coming Soon*/
.coming-soon-wrapper{padding:20px 0 0px;}
.coming-soon-wrapper .img-wrapper img{width:100%;}
.coming-soon-text-wrapper{padding-top:15%;}
.coming-soon-text-wrapper h1{font-family: Gilroy Bold;font-style:normal;font-size:48px;line-height:59px;color:#5C2E5D;margin-bottom:40px;}
.coming-soon-text-wrapper p{font-style:normal;font-weight:300;font-size:24px;line-height:41px;color:#333333;border:0.2px solid #FFFFFF;}
.coming-soon-wrapper .text-wrapper{padding-left:5%;}
.coming-soon-text-wrapper p.text-purple{font-family:Segoe UI;font-style:normal;font-weight:bold;font-size:24px;line-height:32px;color:rgba(92, 46, 93, 0.64);}
.social-media-wrapper ul{list-style:none;padding-left:0;}
.social-media-wrapper ul li{width:10%;float:left;}
.follow-wrapper{padding-top:10%;}

/*Index Page*/
.top-overlay{position:absolute;width:100%;height:16px;left:0;top:0;background:rgba(255, 255, 255, 0.67);z-index:1;}
.home-wrapper .bottom-overlay{position:absolute;width:100%;height:16px;left:0;bottom:5px;background:rgba(255, 255, 255, 0.67);z-index:999;}
.home-banner-wrapper img{max-width:100%;position:relative;}
.home-banner-text{background:#5C2E5D;color:#fff;padding:5% 80px 0 40px;}
.home-banner-text span{font-family:Gilroy;font-style:normal;font-weight:300;font-size:20px;line-height:18px;color:#FFFFFF;}
.home-banner-text h1{font-family:Gilroy Bold;font-style:normal;font-weight:800;font-size:32.5px;line-height:40px;margin:10px 0;color:#FFFFFF;}
.home-wrapper.bg-aside .container-wrapper{padding:0 15px;}
.banner-para{margin-top:35px;padding-right:13%;}
.banner-para p{font-family:Gilroy;font-style:normal;font-weight:300;font-size:18px;line-height:26px;text-align:justify;color:#FFFFFF;}
.banner-btn{margin-top:70px;}
.banner-btn a{background:#5C2E5D;mix-blend-mode:normal;border:1.5px solid #FFFFFF;box-shadow:2px 6px 8px rgba(0, 0, 0, 0.56);border-radius:31.5px;font-family:Gilroy;font-style:normal;font-weight:300;font-size:18px;line-height:21px;padding:16px 37px;color:#FFFFFF;}
.banner-btn a:hover{background:#fff;color:#5C2E5D;text-decoration:none;}
.banner-para-2 p{text-align:center;font-family:Gilroy;font-style:normal;font-weight:300;font-size:18px;line-height:138.3%;color:#000000;}
.key-areas-sec h4{font-family:Gilroy;font-style:normal;font-weight:600;font-size:30px;line-height:42px;text-align:center;color:#333333;position:relative;}
.key-areas-sec h4:after, .key-areas-sec h4:before{display:inline-block;content:"";border-top:2px solid #C4C4C4;width:28rem;margin:-5px 1rem;transform:translateY(-1rem);}
.key-areas-sec h2{font-family:Gilroy;font-style:normal;font-weight:300;font-size:26px;line-height:35px;text-align:center;color:#333333;}
.key-areas-wrapper{height:500px;background:#fff;text-align:center;padding-bottom: 30px;}
.key-areas-wrapper:hover{background:#FFFFFF;box-shadow:0px 4px 20px -4px rgba(0, 0, 0, 0.25);}
.key-areas-wrapper img{width: 300px;}
.key-area-list{margin-top:15px;}
.key-area-list ul li{font-family:Gilroy;font-style:normal;font-weight:300;font-size:18px;line-height:21px;text-align:center;color:#5C2E5D;margin-bottom:20px;padding:0 35px;}
.testi-wrapper{height:260px;padding:5% 50px;}
.testi-wrapper h4{font-family:Gilroy;font-style:normal;font-weight:600;font-size:30px;line-height:42px;text-align:center;text-transform:uppercase;color:#333333;}
.testi-wrapper p{font-family:Gilroy;font-style:normal;font-weight:300;font-size:24px;line-height:28px;height:60px;color:#333333;margin:25px 0;}
.testi-img{width:120%;margin-left:-16%;}
.continue-reading .continue{background:#5C2E5D;border:1px solid #5C2E5D;border-radius:31px;font-family:Gilroy;font-style:normal;font-weight:300;font-size:20px;line-height:23px;color:#FFFFFF;transform:rotate(0.15deg);padding:10px 45px;}
.continue-reading a:hover{background:#fff;color:#5C2E5D;text-decoration:none;}
.continue-reading .contact{background:#5C2E5D;border:1px solid #5C2E5D;border-radius:31px;font-family:Gilroy;font-style:normal;font-weight:300;font-size:20px;line-height:23px;color:#FFFFFF;transform:rotate(0.15deg);padding:10px 45px;}
.continue-reading img{width:35px;margin:0 10px;}
.continue-reading .icon:hover{background:transparent;}
.our-focus-wrapper-img{width:40%;float:left;padding:40px;margin-left:20px;z-index:9999;}
.philo-approach-wrapper{width:55%;float:left;margin-left:20px;padding:40px;z-index:9999;}
.our-focus-img-wrap{width:60%;float:right;}
.our-focus-wrapper{width:40%;float:left;}
.our-focus-img-wrap img{max-width:100%;margin-top:10%;}
.our-focus-wrapper h4{font-family:Gilroy;font-style:normal;font-weight:600;font-size:34px;line-height:42px;position:relative;color:#333333;}
.our-focus-wrapper p{font-family:Gilroy;font-style:normal;font-weight:300;font-size:20px;line-height:28px;height:200px;color:#333333;}
.our-focus-wrapper h4:after{display:block;content:"";border:1px solid #C4C4C4;width:1px;margin:25px 0 0;transform:translateY(-1rem);height:40px;}
.our-focus-wrapper .focus:after{display:block;content:"";border:1px solid #C4C4C4;width:1px;margin:25px 0 0;transform:translateY(-1rem);height:85px;}
.read-more-btn a{background:#5C2E5D;mix-blend-mode:normal;border:1px solid #FFFFFF;box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);border-radius:31.5px;font-family:Gilroy;font-style:normal;font-weight:300;font-size:18px;line-height:21px;padding:16px 37px;color:#FFFFFF;transform:rotate(0.15deg);}
.read-more-btn a:hover{background: #fff; border: 1px solid #5C2E5D; color: #5C2E5D; text-decoration: none;}
.focus-philo-wrapper{position: relative;}
.focus-philo-wrapper::after{position: absolute;width: 360px;height: 353px;left: 0px;bottom: 0;background: rgba(255, 255, 255, 0.59);content: '';}
.focus-philo-wrapper::before{position: absolute;width: 360px;height: 353px;right: 0px;top: 0;background: rgba(255, 255, 255, 0.59);content: '';}
.contact-form label.error {color: red;padding-left: 20px;font-size: 13px;}

/*Service Page*/
.service-banner-wrapper .container-wrapper{background: url("../images/service/services-banner.png");background-size: 100% 100%;}
.service-banner-wrapper.bg-aside:after{height: 210px; top: 590px;}
.service-key-areas h2{font-family: Gilroy;font-style: normal;font-weight: 600;font-size: 30px;line-height: 42px;color: #333333;}
.service-key-areas p{font-family: Gilroy;font-style: normal; font-weight: 300;font-size: 20px;line-height: 29px;color: #484848;width: 80%;margin: auto;}
.service-main-wrapper h4 span{font-family: Gilroy; font-style: normal;font-weight: 600; font-size: 30px;line-height: 43px;color: #FFFFFF;background: #5C2E5D;width: 400px;padding: 10px 20px;margin: auto;position: relative;}
.service-main-wrapper h4:after,.service-main-wrapper h4:before{display: inline-block;content: "";border-top: 2px solid #5C2E5D !important;width: 28rem;margin: -5px 1rem;transform: translateY(-1rem);}
.service-cat-wrapper h4{font-family: Gilroy Bold; font-style: normal;font-size: 30px;line-height: 43px;text-align: center; color: #5C2E5D;}
.service-cat-wrapper img{max-width: 100%;}
.cat-wrapper{padding: 50px 30px;margin: 10px;max-width: 48%;}
.cat-wrapper h2{font-family: Gilroy Bold;font-style: normal;font-size: 25px;line-height: 31px;color: #5C2E5D;}
.cat-listing-wrapper{margin-top: 40px;}
.cat-listing-wrapper ul{padding:0 0 0 20px;}
.cat-listing-wrapper ul li{font-family: Gilroy; font-style: normal; font-weight: 300; font-size: 20px; line-height: 23px; color: #3E4A63; margin-bottom: 10px; list-style: none;}
.service-img-wrapper{display: flex; align-items: center;}
.cat-listing-wrapper ul li::before {content: "\2022"; color: #C4C4C4;font-weight: bold;display: inline-block;width: 1em;margin-left: -1em;}
.service-cat-sec-wrapper h2{font-family: Gilroy Bold;font-style: normal;font-size: 25px;line-height: 37px;text-align: center;color: #5C2E5D; margin-bottom: 35px;}
.service-cat-sec-wrapper .key-areas-wrapper{padding: 50px 30px; height: 800px;}
.service-cat-sec-wrapper .key-area-list ul li{padding: 0; text-align: left;}
.service-cat-sec-wrapper .key-area-list{height: 360px;}
.service-cat-sec-wrapper .key-areas-wrapper img{width: auto;}
.service-indivi-sec-wrapper .cat-wrapper{max-width: 100%; padding: 50px;}
.service-indivi-sec-wrapper .service-img-wrapper{display: block; text-align:center;}
.hr-cat-listing-wrapper p{font-family: Gilroy; font-style: normal;font-weight: 300;font-size: 20px;line-height: 28px;color: #3E4A63;margin-top: 30px;}
.client-service-main-wrapper.service-main-wrapper h4:after, .client-service-main-wrapper.service-main-wrapper h4:before{width: 20rem;}
.crm-service-cat-wrapper p{font-family: Gilroy;font-style: normal;font-weight: 300;font-size: 25px;line-height: 29px;text-align: center;color: #484848;}
.crm-service-cat-wrapper.service-cat-sec-wrapper .key-areas-wrapper{height: 450px;}
.crm-service-cat-wrapper.service-cat-sec-wrapper h2{height: 75px;margin-bottom: 10px;}
.service-cat-sec-wrapper .key-areas-wrapper .crm-img img{width: 350px;}
.client-service{background: #5c2e5d;}
.client-service .key-areas-sec h4, .service-main-wrapper h4{text-decoration: none !important;}
.crm-title h4{color: #C8C8C8;font-family: Gilroy;font-weight: 100;}
.client-crm-listing{float: left;width: 100%;}
.client-crm-listing ul{list-style: none;}
.client-crm-listing ul li{width: 12%;float: left;height: 150px;background: #fff;text-align: center;margin: 10px; display: flex; align-items: center;justify-content: center;}
.client-crm-listing ul li img{max-width: 100%;}
.academic-title{float: left; width: 100%;}
.academic-crm-listing{float: left;width: 100%;}
.academic-crm-listing ul{list-style: none;}
.academic-crm-listing ul li{width: 15%;float: left;height: 150px;background: #fff;text-align: center;margin: 10px; display: flex; align-items: center;justify-content: center;}
.academic-crm-listing ul li img{max-width: 100%;}
.workshops-title{font-family: Gilroy Bold; font-style: normal;font-size: 36px;line-height: 44px;text-align: center;text-transform: uppercase;color: #5C2E5D;float: left;width: 100%;}

.client-crm-listing ul::-webkit-scrollbar, .academic-crm-listing ul::-webkit-scrollbar{height:7px;background-color:#e0e0e0;border-radius:10px;}
.client-crm-listing ul::-webkit-scrollbar-thumb, .academic-crm-listing ul::-webkit-scrollbar-thumb{background-color:#5c2e5d;border-radius:10px;}
.scroll-to-top{display:none;position:fixed;bottom:20px;right:30px;z-index:9999;border:none;outline:none;background-color:#5c2e5d;color:white;cursor:pointer;padding:15px;border-radius:50%;font-size:10px;border:3px solid white;box-shadow:0px 2px 19px -7px rgba(0, 0, 0, 1);}
.scroll-to-top:focus{outline:none;}

/*About Us*/
.about-banner-wrapper .container-wrapper{background: url("../images/about-us/about-us-banner.png");background-size: 100% 100%;}
.about-content-wrapper p{font-family: Gilroy;
    font-style: normal;
    font-weight: 300;
    font-size:20px;
    line-height: 29px;
    
    color: #484848;margin-top: 20px;}
.about-content-wrapper img{margin:30px 0}
.about-content-wrapper .img-wrapper{width: 60%;margin: auto;}
.about-content-wrapper .connect-wrapper{margin-top: 30px;text-align: center;}
.about-content-wrapper .connect-wrapper p{font-family: Gilroy Bold;
    font-style: normal;
    font-size: 22px;
    line-height: 31px;
    text-align: center;  
    color: #595959;margin-bottom: 0;}
.about-content-wrapper .connect-wrapper .img-wrapper{width: 12%;margin: auto;}
.about-focus-wrapper .about-page-title{font-family: Gilroy Bold;
    font-style: normal;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    
    color: #5C2E5D;}
.focus-title{background: #5C2E5D; padding: 10px 20px;}
.focus-category{margin-top: 30px;}
.focus-title h2{font-family: Gilroy;
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 44px;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 0;
    color: #FFFFFF;}
.focus-para{background: #f4f4f4;padding: 20px ;
    text-align: center;height: 150px;
    }
.focus-para span{font-family: Gilroy;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 29px;
    color: #484848;}
.purple-line{border-top: 3px solid rgb(92 46 93);}
.philo-wrapper p{font-family: Gilroy;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 29px;
    color: #484848;}
.philo-wrapper span.bold-text{font-family: Gilroy Bold;}
.philo-wrapper .img-wrapper{width: 50%; margin: auto;}
.key-area-list{text-align: left; padding:10px 30px;}
.testimonials-wrapper .quotes{width: 50px;}
.testimonials-wrapper .key-areas-wrapper {border: 2px solid #5C2E5D;
    height: 680px;border-radius: 20px;}
    .testimonials-wrapper .key-areas-wrapper:hover{box-shadow: none;}
    .testimonials-wrapper .key-areas-wrapper .key-area-list{font-family: Gilroy;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        text-align: justify;
        
        color: #5C2E5D;}
        .testimonials-wrapper .key-areas-wrapper .key-area-list p{height: 405px;font-size: 16px;}
        .testimonials-wrapper .testi-name p{text-align: left;padding: 0 30px;font-family: Gilroy Bold;
            font-style: normal;
            font-size: 20px;
            line-height: 25px;
            margin: 0;
            color: #5C2E5D;}
.logo-img-wrapper{text-align: center;
    border: 2px solid #5C2E5D;
    box-sizing: border-box;
    border-radius: 80px;
    width: 45%;
    background: #fff;
    margin: -30px auto;}
.logo-img-wrapper img{max-width: 100%;height: 45px;
        width: 100px;
        padding: 5px 0;}

#gallery-slider-wrapper img {margin:auto;padding:10px}
